*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;

}
.flex-container{
   width: 80%;
   margin: 50px auto;
   border: 1px solid black;
   height: 500px;
   display: flex;
   flex-direction: column;
   flex-direction: row-reverse;
   
}