* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black;

}
 /* .demo{
    height: 100px;
    width: 300px;
    border: 1px solid black;
  border: 2px dotted hotpink; 
     border: 2px dashed hotpink; 

 } */
/* .container{
    border: 1px solid black;
    border-top: 1px solid black;
    height:200px;
    width:100px;
    padding: 20px;
    padding:10px 30px;
    padding: 10px 20px 30px 40px;
    padding-bottom: 10px;
    margin:10px;
    margin: 10px 30px ;
    margin: 10px 20px 30px 40px;
    margin-top: 10px;
    margin-bottom: 20px;

} */
