/* formatting text properties */
.head{
    color:aliceblue;
    font-size: 50px;
    font-family: cursive;
    text-align: start;
    font-family: sans-serif;
    text-align: center;
    text-align: end;
    font-weight: normal;
    text-shadow: -7px -1px 5px black;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    letter-spacing: 5px;

}
.para1{
    background-color: aliceblue;
    color: antiquewhite;
    font-weight: bold;
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
    
}