.container h1{
    background-color: yellow;
    color: aliceblue;
}
.container > h1{
    background-color: antiquewhite;
    color: aqua;
}
.container > .sec-1 >h1 + p{
    background-color: azure;
    color: beige;
}
.container > .sec-1 >h1 ~ p {
    background-color: blue;
    color: blueviolet;
}
form > input[type="text"]{
    background-color: blueviolet;
}
form > input[required]{
    background-color: black ;
}